.container{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.headings{
  color: rgb(235, 204, 1);
  font-size: 50px; /* Corrected font-size property */
  text-align: center;
}

.boxing{
  position: relative;
  width: 100%;
  height: 1000px;
  border: 5px groove black;
  background-image: url('../../public/i1.jpeg');
}

.para{
  color: white;
  position: absolute;
  z-index: 2;
}

.para:hover{
  color: rgb(235, 204, 1);
}

.image{
  position: relative;
  z-index: 1;
}

